{% extends 'layout.html' %}

{% block title %}Pagina principal{% endblock %}
 <!-- contenido-mensajes  -->
{% block content %}
    {{error}}
    {% if session['logeado'] %}
    <p>Bienvenido, {{ cuenta }}!</p>

    {% else %}
    {{ mensaje }}
    <p>{{ mensaje }}No estas logeado, para acceder a todas las caracteristias primero debes logearte</p>
    {% endif %}
    <!-- contenido-mensajes  -->
<!-- carrusel usando bootstrap -->
<div id="slide" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#slide" data-slide-to="0" class="active"></li>
    <li data-target="#slide" data-slide-to="1"></li>
    <li data-target="#slide" data-slide-to="2"></li>
    <li data-target="#slide" data-slide-to="3"></li>
    <li data-target="#slide" data-slide-to="4"></li>
    <li data-target="#slide" data-slide-to="5"></li>
    <li data-target="#slide" data-slide-to="6"></li>
    <li data-target="#slide" data-slide-to="7"></li>
    <li data-target="#slide" data-slide-to="8"></li>
  </ol>
  <!-- slides de letras  -->
  <div class="carousel-inner">

    <div class="carousel-item active">
         <a href="{{ url_for('sidebar', letras='ABC') }}"><img class="d-block w-100" src="/static/img1.jpg"  height="600"></a>
      <div class="carousel-caption">
        <h1>A B C</h1>
      </div>
    </div>

    <div class="carousel-item">
      <a href="{{ url_for('sidebar', letras='DEF') }}"><img class="d-block w-100" src="/static/img2.jpg" height="600"></a>
      <div class="carousel-caption">
        <h1>D E F</h1>
      </div>
    </div>

    <div  class="carousel-item">
      <a href="{{ url_for('sidebar', letras='GHI') }}"><img class="d-block w-100" src="/static/img3.gif" height="600"></a>
      <div class="carousel-caption">
        <h1>G H I</h1>
      </div>
    </div>

    <div  class="carousel-item">
      <a href="{{ url_for('sidebar', letras='JKL') }}"><img class="d-block w-100" src="/static/img4.jpg" height="600"></a>
      <div class="carousel-caption">
        <h1>J K L</h1>
      </div>
    </div>

    <div  class="carousel-item">
      <a href="{{ url_for('sidebar', letras='MNO') }}"><img class="d-block w-100" src="/static/img5.jpg" height="600"></a>
      <div class="carousel-caption">
        <h1>M N O</h1>
      </div>
    </div>

    <div  class="carousel-item">
      <a href="{{ url_for('sidebar', letras='PQR') }}"><img class="d-block w-100" src="/static/img6.jpg" height="600"></a>
      <div class="carousel-caption">
        <h1>P Q R</h1>
      </div>
    </div>

    <div  class="carousel-item">
      <a href="{{ url_for('sidebar', letras='STU') }}"><img class="d-block w-100" src="/static/img7.jpg" height="600"></a>
      <div class="carousel-caption">
        <h1>S T U</h1>
      </div>
    </div>

    <div  class="carousel-item">
      <a href="{{ url_for('sidebar', letras='VWX') }}"><img class="d-block w-100" src="/static/img8.jpg"  height="600"></a>
      <div class="carousel-caption">
        <h1>V W X</h1>
      </div>
    </div>

    <div  class="carousel-item">
      <a href="{{ url_for('sidebar', letras='YZÑ') }}"><img class="d-block w-100" src="/static/img9.jpg" height="600"></a>
      <div class="carousel-caption">
        <h1>Y Z Ñ</h1>
      </div>
    </div>
  </div>
  <!-- slides de letras  -->

  <!-- controles del slide  -->
  <a class="carousel-control-prev" href="#slide" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slide" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
    <!-- controles del slide  -->
</div>
<!-- carrusel usando bootstrap -->

{% endblock %}
