{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login">
		<!-- Formulario de login .... -->
		<h1>Ingresar</h1>
		<div class="links">
			<a href="{{ url_for('login') }}" class="active">Ingresar</a>
			<a href="{{ url_for('registro') }}">Registro</a>
		</div>
		<form action="{{ url_for('login') }}" method="post">
			<label for="usuario">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="usuario" placeholder="usuario" id="usuario" required>
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" id="password" required>
			{% if mensajeexito %}
			<div class="alert alert-success">{{ mensajeexito }}</div>
			{% endif %}
			{% if sessionerror %}
			<div class="alert alert-danger">{{ sesionerror }}</div>
			{% endif %}
			<input type="submit" value="Ingresar">
		</form>
		<!-- Formulario de login .... -->

</div>

{% endblock %}
