{% extends 'layout.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="perfil" id="perfil">

    <h1>Los datos de tu cuenta son: </h1>

        <div class="usuario">
    		<a class="active">Usuario:  </a> {{ session['usuario'] }}
    	</div>
        <div class="usuario">
    		<a class="active">Password:  </a> {{ session['password'] }}
    	</div>

        <div class="perfilR">

            <h2>Actividad: </h2>
                {% for resena in resenas %}
                <div class="rev">
        		<a class="active"> Tu reseña del libro {{resena.isbn}}: </a>
        		</div>

                <div class="estrella">

                {% if resena.rating == 5 %}
                    <div class="container">
                        <span title="text">&starf;</span>
                        <span title="text">&starf;</span>
                        <span title="text">&starf;</span>
                        <span title="text">&starf;</span>
                        <span title="text">&starf;</span>
                    </div>

                {% elif resena.rating == 4 %}
                <div class="container">
                    <span title="text">&starf;</span>
                    <span title="text">&starf;</span>
                    <span title="text">&starf;</span>
                    <span title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                </div>

                {% elif resena.rating == 3 %}
                <div class="container">
                    <span title="text">&starf;</span>
                    <span title="text">&starf;</span>
                    <span title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                </div>

                {% elif resena.rating == 2 %}
                <div class="container">
                    <span title="text">&starf;</span>
                    <span title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                </div>

                {% else  %}
                <div class="container">
                    <span title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                    <span id="sin" title="text">&starf;</span>
                </div>
                {% endif %}
                <div class="container">{{resena.resena}}</div>
            </div>
            {% endfor %}
        </div>
</div>


{% endblock %}
