{% extends 'layout.html' %}

{% block title %}Registro{% endblock %}

{% block content %}

<div class="login">

		<h1>Registro</h1>
		<div class="links">
			<a href="{{ url_for('login') }}" >Ingresar</a>
			<a href="{{ url_for('registro') }}" class="active" >Registro</a>
		</div>
		<form action="{{ url_for('registro') }}" method="post" autocomplete="off">
			<label for="usuario">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="usuario" placeholder="usuario" id="usuario" required>
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" id="password" required>
			{% if mensajeexito %}
			<div class="alert alert-success">{{ mensajeexito }}</div>
			{% endif %}
			{% if sessionerror %}
			<div class="alert alert-danger">{{ sesionerror }}</div>
			{% endif %}
			<div class="alert alert-danger">{{ cuentaex }}</div>
			<input type="submit" value="registro">
		</form>
</div>


{% endblock %}
